<div class="row">
  <div class="col-md-6">
    <h1>Generate passcodes with dice</h1>

    <p>Simulate rolling {{numberOfDice}} dice o generate words of a passcode from the {{#link-to "words"}}word list{{/link-to}}.</p>

    <p>See the {{#link-to "about"}}about page{{/link-to}} to learn more about Diceware.</p>

    <p>Die rolls are random based on {{#link-to "about"}}GRC's Ultra High Entropy Pseudo Random Number Generator{{/link-to}}. You can see this in the {{#link-to "entropy"}}Entropy Viewer{{/link-to}}.</p>

    {{#if waitingForinitialEntropy}}
      {{#bs-alert type="info" dismissible=false}}
        <p>
          Waiting for Entropy Harvesting…
          <span class="glyphicon glyphicon-hourglass"></span>
        </p>
      {{/bs-alert}}
    {{/if}}

    {{#bs-form-group}}
      {{#bs-button action="generate" type="primary" class="btn-lg" disabled=waitingForinitialEntropy}}
        Generate passcode
      {{/bs-button}}
    {{/bs-form-group}}

    {{#bs-form-group}}
      <label class="control-label">Number of words in passcode</label>
      {{bs-input type="number" value=numberOfDice}}
    {{/bs-form-group}}

    {{#if lastDieRolls}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Passcode Generation Result</h3>
        </div>
        <div class="panel-body">
          {{words-view words=words
                       diceCodes=lastDieRolls
                       noResultsText=false}}
        </div>
      </div>
    {{/if}}
  </div>

  <div class="col-md-6">
    <table class="table">
      <tbody>
        {{#each passcodes as |passcode index|}}
          <tr>
            <td>{{one-based index}}</td>
            <td><code>{{passcode}}</code></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
